html{
	background-color:#60ad5e;
	width: 1000px;


}
header{
	background-color:#005005;
	margin-top: 10px;
	margin-left: 200px;
	margin-right: 40px;
  }
  #Titulo{
	
	text-align: center;
	font: oblique bold 100% cursive;
	color: whitesmoke;
	
  }
  
 
nav{
 
  background-color:#2e7d32;
  text-align: center;
}

nav ul{
   list-style: none;
   display: inline-block;
   
}

nav ul li{
	float: left;
	margin-top: 20px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
}

nav ul li a:hover{
  background-color: #60ad5e;
}

section{
	
	margin-top: 10px;
	width: 420px;
	height: 300px;
	
	margin-left: 200px;
	margin-right: 20px;
	

	float: left;
	
}
p.Parrafo{
	background-color: cornsilk;
	 border-width: 10px;
	 border-color: #005005;
	border-style: solid;	
}
#imagen{
	margin-top: 10px;
	
	background-color: cornsilk;
	
	
}