body{
	text-align: center;
    margin-left: auto;
	margin-right: auto;
	background-color:#60ad5e;
	width: 1000px;


}
header{
	background-color:#005005;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
  }
  #Titulo{
	
	text-align: center;
	font: oblique bold 100% cursive;
	color: whitesmoke;
	
  }
  
 
nav{
 
  background-color:#2e7d32;
  text-align: center;
}

nav ul{
   list-style: none;
   display: inline-block;
   
}

nav ul li{
	float: left;
	margin-top: 5%;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	padding: 1%;
}

nav ul li a:hover{
  background-color: #60ad5e;
}

section{
	
	margin-top: 2%;
	width: 65%;
	height:  auto;
	float: left;
	background-color:whitesmoke;
	text-align: center;
	border-width: 10px;
	border-color: #005005;
	border-style: solid ;
}

	
.Parrafo{
	font-family: cursive;
}    	
.Comentario{
	font-style: oblique;
	vertical-align: sub;
}
   

#imagen{
	margin-top: 6%;
	margin-bottom: 6%;
	border-width: 10px;
	 border-color: white;
	border-style: solid;
		
}
#referencias{
	color: ghostwhite;
	margin-top: 5%;
	background-color: #2e7d32;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
	font-style:italic;
}
h2{
	color: ghostwhite;
}
h3{
	color: ghostwhite;
	font: oblique bold;
	margin-top: 2%;
	background-color: #2e7d32;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
	
}
#Reseña{
	font-family: cursive;
	background-color: ghostwhite;
	margin-bottom: 3%;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
	text-align: justify;

}
#disqus_thread{
	
	background-color: ghostwhite;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
}
#Glosario{
	font-family: cursive;
	text-align: left;
	background-color: ghostwhite;
	border-width: 10px;
	 border-color:#005005;
	border-style: solid;
}
.Palabra{
	font: oblique bold 120% cursive;
}