html{
	background-color:#60ad5e;
}
header{
	background-color:#005005;
	margin-top: 10px;
	margin-left: 400px;
	margin-right: 400px;
  }
  #Titulo{
	
	text-align: center;
	font: oblique bold 100% cursive;
	color: whitesmoke;
	
  }
  
 
nav{
 
  background-color:#2e7d32;
  text-align: center;
}

nav ul{
   list-style: none;
   display: inline-block;
   
}

nav ul li{
	float: left;
	margin-top: 20px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
}

nav ul li a:hover{
  background-color: #60ad5e;
}

section{
	background-color: #005005;
	margin-top: 10px;
	margin-left: 400px;
	margin-right: 750px;
}
#Parrafo1{
	background-color: cornsilk;
	 border-width: 10px;
	 border-color: #005005;
	border-style: solid;
	
	}
